html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header nav {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 4% 0;
}
header nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8rem;
  text-decoration: none;
  color: #4a4a4a;
  padding: 0 1%;
}
header nav span {
  font-size: 3.6rem;
}
header nav #home {
  font-weight: bold;
}
.artists-container {
  padding: 2%;
  margin: 3% 0;
  border-top: 3px solid #C0C0C0;
  display: flex;
  flex-direction: row;
}
.artists-container .artist {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.artists-container .artist img {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border-radius: 15px;
}
.artists-container .artist a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 1% 0;
}
.artists-container .artist .bio {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  padding: 2% 8%;
}
.title-container {
  background-image: url(https://github.com/Pmiller1208/50-Influential-Artists/blob/patrick-miller/assets/home.png?raw=true);
  height: 60vh;
  width: 90%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title-container .callToAction {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.title-container .callToAction h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5.6rem;
  font-weight: bold;
  padding: 5% 0;
}
.title-container .callToAction button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
}
