header {
    nav {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      padding: 4% 0;
      
      a{
        .font(@headFont, 2.8rem);
        text-decoration: none;
        color: @mainColor;
        padding: 0 1%;  
    }

    span {
      font-size: 3.6rem;
    }

    #home {
      font-weight: bold;
    }
}

}